@charset "UTF-8";
html {
  font-size: 10px;
}
@media all and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media all and (max-width: 320px) {
  html {
    font-size: 8px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--background, #101017);
  color: var(--white);
}

.l-page-wrapper {
  width: 100%;
  height: 100%;
}

.l-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.l-page-top {
  flex: 1;
  width: 100%;
  overflow: auto;
}

.l-page-bottom {
  width: 100%;
}

.l-page-popup {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background, #101017);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.l-page-popup.show {
  opacity: 1;
  top: 0;
  pointer-events: visible;
}

.l-page-popup.hide {
  opacity: 0;
  top: 60px;
  pointer-events: none;
}

.l-bottom-sheet {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.header {
  width: 100%;
  padding: 0 1.6rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.header .hd-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: white;
}

.header-left {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
}

.header-right {
  margin-left: auto;
}

.hd-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  flex-shrink: 0;
}

.ico {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ico-18 {
  width: 1.8rem;
  height: 1.8rem;
}

.ico-24 {
  width: 2.4rem;
  height: 2.4rem;
}

.ico-22 {
  width: 2.2rem;
  height: 2.2rem;
}

.ico-arrow-right {
  background-image: url(../images/ico/ico-arrow-right-gray.svg);
}

.ico-discord {
  background-image: url(../images/ico/ico-discord.svg);
}

.ico-x {
  background-image: url(../images/ico/ico-x-white.svg);
}

.ico-arrow-back {
  background-image: url(../images/ico/ico-arrow-back.svg);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.theme-solid-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--primary-400, #7f39fb);
  color: white;
  border-radius: 8px;
  transition: all 0.3s;
}
.theme-solid-btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-500, #6200EE);
}

.btn-xs {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.13px;
  height: 3.2rem;
  padding: 0 0.8rem;
}

.btn-sm {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.15px;
  height: 4.2rem;
  padding: 0 1.2rem;
}

.btn-md {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.15px;
  height: 5rem;
  padding: 0 1.2rem;
}

.btn-lg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.17px;
  height: 5.4rem;
  padding: 0 1.2rem;
}

.btn-w100 {
  width: 100%;
}

.form-item-grp .form-item {
  margin-bottom: 2.4rem;
}
.form-item-grp .form-item:last-child {
  margin-bottom: 0;
}

.form-label {
  font-size: 1.2rem;
  letter-spacing: -0.12px;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.form-inp {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  width: 100%;
  border-radius: 8px;
  background-color: var(--surface-04, #242431);
  border: 1px solid var(--surface-04, #242431);
  outline: none;
  height: 5rem;
  padding: 0 1.2rem;
  color: white;
}

.form-inp:focus {
  border: 1px solid var(--primary-400, #7F39FB);
}

.form-inp::placeholder {
  color: var(--text-light-04, rgba(255, 255, 255, 0.4));
}

.form-inp-wrap {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.form-inp-wrap .form-inp-btn {
  flex-shrink: 0;
}

.form-validation-msg {
  font-size: 1.2rem;
  letter-spacing: -0.12px;
  font-weight: 400;
  line-height: 1.6;
  line-height: 1.4;
  color: var(--error, #FF3056);
  padding: 0 1.2rem;
  margin-top: -0.5rem;
}
.form-validation-msg.correct {
  color: var(--secondary-200, #03DAC5);
}

.form-inp-unit-item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: var(--surface-04, #242431);
  border: 1px solid var(--surface-04, #242431);
  padding: 0 1.2rem;
  gap: 1.2rem;
}
.form-inp-unit-item .inp {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  width: 100%;
  background-color: transparent;
  color: white;
  outline: none;
  border: 0;
  resize: none;
  padding: 1.4rem 0;
}
.form-inp-unit-item .unit {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  margin-top: 1.4rem;
  color: var(--text-light-06, rgba(255, 255, 255, 0.6));
}

.form-inp-unit-item.active {
  border: 1px solid var(--primary-400, #7F39FB);
}

.left-title-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.8rem;
}

.left-title {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.22px;
  color: white;
  line-height: 1.45;
}

.left-title-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-light-06, rgba(255, 255, 255, 0.6));
}

img {
  vertical-align: bottom;
}

/* 텍스트 숨김 */
.txt-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 무조건 안보이게 */
.invisible {
  display: none !important;
}

/* 그냥 안보이게 */
.none {
  display: none;
}

.mg-left {
  margin-left: auto;
}

.iflex-row {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-200, #BB86FC);
  border-radius: 16px;
  border: 4px solid transparent;
}

.l-guide-wrapper {
  padding: 2rem;
  background-color: inherit;
}

.guide-tbl {
  font-size: 1.2rem;
  line-height: 1.4;
}

.guide-tbl th {
  color: var(--text-light-06);
  padding: 1rem;
  border-bottom: 1px solid var(--border);
}

.guide-tbl td {
  padding: 1rem;
  border-bottom: 1px solid var(--border);
  vertical-align: top;
  font-size: 1rem;
  color: var(--text-light-08);
  word-break: keep-all;
}

.guide-tbl td:first-child {
  font-weight: 600;
  color: var(--white);
}

.guide-tbl td a {
  color: var(--primary-100);
  text-decoration: underline;
}

.guide-tbl ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.login-page .btn-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.login-page .intro-section {
  width: 100%;
  max-width: 99%;
  padding: 50px 0;
  display: inline-block;
  vertical-align: middle;
}
.login-page .intro-section .img-intro {
  width: 100%;
  margin-bottom: 7rem;
}
.login-page .intro-section .btn-container {
  width: 90%;
  max-width: 292px;
}
.login-page .login-section {
  width: 90%;
  max-width: 296px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.login-page .login-section .img-intro {
  width: 100%;
}
.login-page .login-section .form-item-grp {
  margin-bottom: 4.2rem;
}
.login-page .login-section .list-btn {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  color: var(--text-light-08, rgba(255, 255, 255, 0.8));
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}
.login-page .login-section .list-btn:last-child {
  margin-right: 0;
  padding-right: 0;
}
.login-page .login-section .list-btn:last-child:after {
  display: none;
}
.login-page .login-section .list-btn:after {
  width: 1px;
  display: inline-block;
  height: 1.6rem;
  background-color: var(--border, rgba(255, 255, 255, 0.12));
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.login-page .ico-txt-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 300;
  line-height: 1.57;
  background-color: var(--surface-04, #242431);
  color: var(--text-light-08, rgba(255, 255, 255, 0.8));
  padding: 0.8rem;
  border-radius: 50px;
}
.login-page .ico-txt-btn .ico {
  flex-shrink: 0;
}
.login-page .ico-txt-btn .ico-discord {
  margin-right: 0.6rem;
}
.login-page .ico-txt-btn .ico-arrow-right {
  margin-left: 0.2rem;
}

.login-page-content {
  width: 100%;
  height: 100%;
}

.login-page-content:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.login-bottom-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3.2rem 4.2rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.login-bottom-wrap .left-txt {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  color: var(--text-light-06, rgba(255, 255, 255, 0.6));
}
.login-bottom-wrap .txt-btn {
  font-size: 1.4rem;
  letter-spacing: -0.14px;
  font-weight: 400;
  line-height: 1.57;
  color: var(--text-light-08, rgba(255, 255, 255, 0.8));
}
.login-bottom-wrap .txt-btn .ico-arrow-right {
  margin-left: 0.2rem;
}

.signup-page-content {
  width: 100%;
  padding: 3rem 1.6rem 1.6rem;
}
.signup-page-content .section {
  margin-bottom: 8rem;
}
.signup-page-content .left-title-wrap {
  margin-bottom: 3.3rem;
}